/.phpunit.cache
/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/framework/*
/storage/framework/livewire/*
/storage/logs/*.log

/bootstrap/cache/*

.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

/auth.json

/.idea
/.vscode
/.fleet
/.nova
/.zed